body {
    font-family: 'Arial', sans-serif;
	font-size: 18px;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-list {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    color: #66cc99;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-list a:hover {
    background-color: #66cc99;
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Adjust for fixed navbar */
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	background-color: #66cc99;
    color: #ffffff;
	width: 90%;
	padding: 5%;
	border-radius: 15px;
	
}

.link-list {
    list-style-type: none;
    padding: 0;
}

.link-list li {
    margin: 10px 0;
	padding: 20px;
}

.link-list a {
    text-decoration: none;
    color: #66cc99;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.link-list a:hover {
    background-color: #66cc99;
    color: #ffffff;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

ul li{
	text-decoration: none;
    color: #66cc99;
    padding: 5px 10px;
    border-radius: 5px;
}

iframe{
	width: 90%;
}